@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,600&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Exo", sans-serif;
}

*::selection {
  color: #fff;
  background: black;
}

/* Header start */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  align-items: center;
  top: 0;
  right: 0;
  left: 0;
  position: sticky;
  z-index: 1000;
}

.logo {
  width: 5rem;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.navbar .nav-menu li::after {
  content: "";
  width: 0%;
  height: 2px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

.navbar .nav-menu li:hover::after {
  width: 80%;
}

.nav-links {
  margin: 1rem;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  color: black;
}

.hero-section {
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(img/PigBackgroung2.jpg);
  background-position: center;
  background-size: cover;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
}

.text-box {
  color: #fff;
  text-align: center;
  top: 11rem;
  position: relative;
}

.hero-section .text-box h2 {
  text-transform: uppercase;
  font-size: 3rem;
}

.hero-section .text-box p {
  font-size: 1.3rem;
  word-spacing: 0.7rem;
  letter-spacing: 0.1rem;
  margin-top: 5px;
}

.services {
  padding-top: 5rem;
  text-align: center;
  width: 90%;
  margin: auto;
}

.services h3 {
  margin-bottom: 2rem;
  text-transform: capitalize;
  font-size: 2.5rem;
}

.divs-container {
  display: flex;
  justify-content: space-between;
}

.services-col {
  border-radius: 10px;
  box-sizing: border-box;
  flex-basis: 31%;
  padding: 20px 12px;
  margin-bottom: 5%;
  background: #dbdbdb;
  box-shadow: -9px 9px 18px #666666, 9px -9px 18px #ffffff;
}

.about {
  align-items: center;
  text-align: center;
  top: 4rem;
  left: 0;
  right: 0;
  position: relative;
}

.about h3 {
  font-size: 3rem;
  text-transform: capitalize;
}

.about-container {
  justify-content: space-between;
  display: flex;
  align-items: center;
  top: 4rem;
  left: 0;
  right: 0;
  position: relative;
}

.about-container img {
  width: 25rem;
  height: 25rem;
  border-radius: 50%;
  margin-left: 5rem;
}

.text-container {
  background: #dbdbdb;
  width: 50%;
  padding: 2rem;
  border-radius: 10px;
  margin: auto;
}

.text-container p {
  font-size: 1.3rem;
  padding: 1 2rem;
}

.before-footer {
  top: 20rem;
  left: 0;
  right: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.form-container {
  display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 5rem;
}

.form-container h4 {
  font-size: 2rem;
  text-transform: capitalize;
}

.contact-form {
  width: 20rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background: #e9e9e9;
  margin-bottom: 22px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.contact-form:hover {
  background: #dbdbdb;
}

.text-area {
  height: 7rem;
  width: 20rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background: #e9e9e9;
  margin-bottom: 22px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.text-area:hover {
  background: #dbdbdb;
}

.contact-form::placeholder {
  text-transform: capitalize;
}

.text-area::placeholder {
  text-transform: capitalize;
}

.contact-btn {
  width: 40%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background: rgb(34, 34, 34);
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 3px;
  transition: 0.5s;
  color: #fff;
  text-transform: capitalize;
}

.contact-btn:hover {
  background: black;
  color: #fff;
}

.search-login-container {
  display: grid;
  justify-content: center;
}

.search-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-area input {
  width: 75%;
  height: 2.5rem;
  background: #e9e9e9;
  border: 1px solid rgba(0, 0, 0, 0.377);
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}

.search-btn {
  width: 15%;
  height: 2.5rem;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.377);
  background: rgb(34, 34, 34);
  color: #fff;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-align: center;
  transition: 0.5s;
}

.search-btn:hover {
  background: black;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: #dbdbdb;
  width: 40rem;
  display: grid;
  align-items: center;
}

.login-form-container form h4 {
  font-size: 2rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 40%;
  padding: 0.5rem;
  font-size: 1rem;
  color: #333;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form label {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.login-form-container form .login-btn {
  display: block;
  width: 20%;
  height: 2.5rem;
  background: rgb(34, 34, 34);
  transition: 0.5s;
  border: none;
  border-radius: 3px;
  color: #fff;
  text-transform: capitalize;
}

.login-form-container form .login-btn:hover {
  background: black;
}

.login-form-container form p {
  padding: 0.5rem 0;
  font-size: 1rem;
  color: #666;
  text-transform: capitalize;
}

.login-form-container form p a {
  color: rgb(155, 155, 155);
}

.login-form-container form p a:hover {
  color: rgb(155, 155, 155);
  text-decoration: underline;
}

footer {
  top: 23rem;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background: rgb(34, 34, 34);
  color: #fff;
  padding: 2rem;
}

.copyright {
  padding-right: 2rem;
}
.copyright p {
  font-size: 1.3rem;
}

.social-icons {
  margin-left: 2rem;
}

.social-icons #social {
  font-size: 1.2rem;
}
